<h1>
  <%= @source.title %>
  <% if @source.category %>
    <small>(<%= @source.category.title %>)</small>
  <% end %>
</h1>

<div class="flexible">
  <div class="left-side">
    <p>
      <%= pluralize(@source.transactions.count,  "transaction") %>
    </p>
    <p>
      <% total = @source.total %>
      <% if total > 0 %>
        <strong>Total income: </strong><span><%= number_to_money(total) %></span>
      <% else %>
        <strong>Total spend: </strong><span><%= number_to_money(total) %></span>
      <% end %>
    </p>
    <p>
      <strong>Average transaction: </strong><span><%= number_to_money(@source.transactions.any? ? total / @source.transactions.count : 0) %></span>
    </p>
    <p>
      <strong>First transaction: </strong>
      <% if @source.earliest_transaction %>
        <span><%= @source.earliest_transaction.date %></span>
      <% end %>
    </p>
    <p>
      <% if @source.latest_transaction %>
        <strong>Last transaction: </strong><span><%= @source.latest_transaction.date %></span>
      <% end %>
    </p>

    <strong>Match rules:</strong>
    <ul>
      <% @source.rules.each do |rule| %>
        <li><%= rule.field %>: <code><%= rule.regex %></code></li>
      <% end %>
    </ul>

    <%= link_to 'Edit', edit_source_path(@source) %>
  </div>

  <div class="right-side">
    <h2>Transactions</h2>
    <%= render partial: 'transactions/table', locals: { transactions: @source.transactions.order(date: :desc).first(20), hide_source: true } %>
    <%= link_to('Show all', source_transactions_path(@source)) %>
  </div>
</div>