<h1>Import Transactions</h1>

<h2>Paste</h2>
<%= form_tag(parse_paste_transactions_path, local: true) do %>
  <%= text_area_tag(:paste, '', rows: 10) %><br/>

  <%= submit_tag('Import') %>
<% end %>

<hr/>

<h2>CSV</h2>
<%= form_tag(parse_csv_transactions_path, local: true) do %>
  <%= file_field_tag(:csv) %><br/>

  <%= submit_tag('Import') %>
<% end %>

<div class="page-links">
  <%= link_to 'Back', transactions_path %>
</div>
