<!DOCTYPE html>
<html>
  <head>
    <title>Fmoney</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render partial: 'layouts/nav' %>
  <div class="wrapper">
    <div class="content">
      <% if notice %><p id="notice" class="flash flash-notice"><%= notice %></p><% end %>
      <% if alert %><p id="alert" class="flash flash-alert"><%= alert %></p><% end %>

      <%= yield %>
    </div>
  </div>
  </body>
</html>
